#!/bin/bash
#
# confluence        This shell script takes care of starting and stopping
#               the Confluence application
#
# chkconfig: 345 64 36
# description:  Confluence application server
# processname: confluence

# Confluence Linux service controller script
cd "{{ confluence_installdir_path }}/bin"

case "$1" in
    start)
        ./start-confluence.sh
        ;;
    stop)
        ./stop-confluence.sh
        ;;
    *)
        echo "Usage: $0 {start|stop}"
        exit 1
        ;;
esac
